.boxes {
    --size: 32px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg)
        translateZ(0px);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);

    .box {
        width: var(--size);
        height: var(--size);
        top: 0;
        left: 0;
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

        & > div {
            --background: #5c8df6;
            --top: auto;
            --right: auto;
            --bottom: auto;
            --left: auto;
            --translateZ: calc(var(--size) / 2);
            --rotateY: 0deg;
            --rotateX: 0deg;
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background);
            top: var(--top);
            right: var(--right);
            bottom: var(--bottom);
            left: var(--left);
            -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
                translateZ(var(--translateZ));
            transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
                translateZ(var(--translateZ));

            &:nth-child(1) {
                --top: 0;
                --left: 0;
            }

            &:nth-child(2) {
                --background: #145af2;
                --right: 0;
                --rotateY: 90deg;
            }

            &:nth-child(3) {
                --background: #447cf5;
                --rotateX: -90deg;
            }

            &:nth-child(4) {
                --background: #dbe3f4;
                --top: 0;
                --left: 0;
                --translateZ: calc(var(--size) * 3 * -1);
            }
        }

        &:nth-child(1) {
            -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
            -webkit-animation: box1 var(--duration) linear infinite;
            animation: box1 var(--duration) linear infinite;
        }

        &:nth-child(2) {
            -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
            -webkit-animation: box2 var(--duration) linear infinite;
            animation: box2 var(--duration) linear infinite;
        }

        &:nth-child(3) {
            -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
            -webkit-animation: box3 var(--duration) linear infinite;
            animation: box3 var(--duration) linear infinite;
        }

        &:nth-child(4) {
            -webkit-transform: translate(200%, 0);
            transform: translate(200%, 0);
            -webkit-animation: box4 var(--duration) linear infinite;
            animation: box4 var(--duration) linear infinite;
        }
    }
}

@-webkit-keyframes box1 {
    0%,
    50% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    100% {
        -webkit-transform: translate(200%, 0);
        transform: translate(200%, 0);
    }
}

@keyframes box1 {
    0%,
    50% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    100% {
        -webkit-transform: translate(200%, 0);
        transform: translate(200%, 0);
    }
}

@-webkit-keyframes box2 {
    0% {
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
}

@keyframes box2 {
    0% {
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }

    50% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
}

@-webkit-keyframes box3 {
    0%,
    50% {
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }

    100% {
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
}

@keyframes box3 {
    0%,
    50% {
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }

    100% {
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
    }
}

@-webkit-keyframes box4 {
    0% {
        -webkit-transform: translate(200%, 0);
        transform: translate(200%, 0);
    }

    50% {
        -webkit-transform: translate(200%, 100%);
        transform: translate(200%, 100%);
    }

    100% {
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
}

@keyframes box4 {
    0% {
        -webkit-transform: translate(200%, 0);
        transform: translate(200%, 0);
    }

    50% {
        -webkit-transform: translate(200%, 100%);
        transform: translate(200%, 100%);
    }

    100% {
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
}

.loader-container {
    height: 100vh;
    font-family: Roboto, Arial;
    color: #adafb6;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: var(--background-color);
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: var(--header-bg-color);
    border-radius: 0;
    background-clip: padding-box;
    margin: 0;
    overflow: hidden;

    .determinate {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        background-color: var(--color-accent);
        transition: width 0.3s linear;
    }

    .indeterminate {
        background-color: var(--color-accent);

        &:before {
            content: "";
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s
                cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s
                cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        &:after {
            content: "";
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 2.1s
                cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s
                cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
        }
    }

    &.abs {
        position: fixed;
        z-index: 21;
        top: 0;
        left: 0;
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}
