/* Small screens */
/* Large screens */
:root {
  font-size: 16px;
  --text-primary: #888;
  --text-secondary: #ececec;
  --bg-primary: #fff;
  --bg-secondary: #f6f7f8;
  --transition-speed: 600ms;
  --sidenav-top-offset: 10px;
}

.sidenav {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  top: var(--nav-size);
  width: var(--sidenav-size);
  height: calc(100vh - (var(--nav-size) + var(--sidenav-top-offset)));
}

.sidenav-nav {
  list-style: none;
  padding: 0;
  margin: var(--sidenav-top-offset) 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .nav-item {
    width: 100%;

    &+.nav-item {
      margin-top: 10px;
    }

    &:last-child {
      margin-top: auto;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.35;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    color: var(--text-primary);
    text-decoration: none;
    // filter: grayscale(100%) opacity(0.7);
    transition: background .3s ease;
    margin: 5px auto;
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &.active {
      // filter: grayscale(0%) opacity(1);
      background: var(--bg-secondary);
      color: var(--color-accent);
    }

    ion-icon {
      font-size: 22px;
      margin: 0 auto;
    }
  }

}