.modal-page-ui.new-board {
    display: grid;
    height: 100vh;
    width: 100%;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background: rgba(255, 255, 255, 0.9);

    @supports (backdrop-filter: none) {
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(8px);
    }

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        height: 40px;
        width: 40px;
        padding: 0;
        font-size: 28px;
        padding-top: 5px;
        text-align: center;
        cursor: pointer;
        background: transparent;
        border: none;
        line-height: 1;
    }

    .modal-page-content {
        width: 100%;
        max-width: 480px;
        min-width: 420px;

        h2 {
            margin: 0 0 20px;
            font-size: 30px;
            font-weight: 500;
        }
    }
}

.member-list {
    > span {
        color: var(--label-color);
        font-size: 12px;
        display: block;
        margin: 15px 0 5px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -4px;

        span {
            color: #666;
            background-color: #f6f7f8;
            border: 1px solid #f2f2f2;
            font-size: 12px;
            padding: 8px 14px;
            margin: 2px;
            border-radius: 20px;
            line-height: 1;
            cursor: default;
        }
    }
}

.floating {
    margin: 10px 0 0;
    --field-background: transparent;
    --field-background-hover: transparent;
    --label-offset: 0;
    --border-radius: 0;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;

    label {
        margin-bottom: 5px;
        font-size: 14px;
        color: var(--label-color);
    }

    select[multiple] {
        height: 120px;
        font-family: inherit;
        font-size: 15px;
        border: 1px solid #d8d8d8;
        background-color: transparent;
        padding: 2px 0;
        border-radius: 4px;
        width: 100%;

        option {
            padding: 4px 10px;
            border-radius: 4px;
            margin: 2px 4px;

            & + option {
                margin-top: 3px;
            }
        }

        option:checked {
            background: var(--color-accent-light)
                linear-gradient(
                    0deg,
                    var(--color-accent-light) 0%,
                    var(--color-accent-light) 100%
                );
        }

        &:focus {
            outline: none;
        }
    }
}

.help-block {
    margin: 5px 0 10px;
    font-size: 13px;
    color: var(--text-color-muted);

    & + .floating {
        margin-top: 20px;
    }
}

.form-buttons {
    margin-top: 40px;

    button {
        &:disabled {
            pointer-events: none;
            opacity: 0.75;
        }
    }
}
