.prompt {
    --border-radius: 10px;
}
.prompt-overlay {
    position: fixed;
    inset: 0;
    background: var(--backdrop-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.prompt-wrapper {
    width: 400px;
    background: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
    transform-origin: top center;
    opacity: 0;
}

.prompt-content {
    padding: 20px;

    h5 {
        padding: 10px 0 0;
        font-size: 18px;
        margin: 0;
        color: var(--fg-color);
    }

    p {
        font-size: 14px;
        color: var(--fg-color--muted);
        margin: 10px 0;
    }
}

.prompt-footer {
    display: flex;
    overflow: hidden;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    justify-content: flex-end;
    padding: 10px;

    button {
        border-radius: 8px;
        letter-spacing: 0;
        font-size: 14px;
        padding: 14px 20px;
        width: auto;
        min-width: 80px;

        &.aux {
            background: var(--button-bg-color);
            color: var(--color-accent);
            margin-right: 5px;

            &:hover {
                background: var(--button-bg-color--hover);
            }
        }
    }
}

/* Fade-in-down */
.fade-in-down {
    animation: fadeInDown 0.25s ease forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade-out-up */
.fade-out-up {
    animation: fadeOutUp 0.25s ease forwards;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
