.board-content {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidenav-size) 1fr;

    .scroll {
        height: 100%;
        background-color: var(--board-bg-color);
        border: 1px solid var(--divider-color);
        border-radius: 24px 0 0 0;
        overflow-x: auto;
    }

    .sidebar {
        background-color: #fff;
    }

    &.extended {
        grid-template-columns: var(--sidenav-size) 150px 1fr;
    }
}

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .board-name-editable {
        > div {
            display: flex;
            align-items: center;
            min-width: 320px;
        }

        .no-edit {
            h2 {
                font-weight: 500;
                color: #888;
                font-size: 24px;
                padding: 0;
                margin: 20px 0;
            }
        }

        .edit-view {
            input {
                font-weight: 500;
                color: #888;
                font-size: 24px;
                padding: 0;
                margin: 20px 0;
                background: transparent;
                border: none;
                width: 100%;
                font-family: inherit;

                &::placeholder {
                    color: #bbb;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.inner-loading-text {
    height: calc(100vh - 72px);
}

.trello-board {
    --pt: 40px;
    --pb: 20px;
    --border-radius: 12px;
    --column-min-height: 130px;

    padding: var(--pt) 0 0;

    .column__list {
        display: flex;
        align-items: flex-start;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        height: calc(100dvh - calc(var(--pt) + var(--nav-size) + 2px));
        list-style-type: none;
        margin: 0;
        padding: 0 0 0.5rem;
    }

    .column__item {
        border-radius: var(--border-radius);
        background-color: var(--column-bg-color);
        min-width: calc(350px + 1rem);
        display:grid;
        grid-template-rows: 60px 1fr auto;
        max-height: 100%;
        min-height: var(--column-min-height);

        &:first-of-type {
            margin-left: 1rem;
        }

        &.column__item--new {
            padding-right: 1.5rem;
        }

        &.trans {
            background-color: transparent;
            height: var(--column-min-height);
            margin-inline: 1rem;
        }

        &.empty {
            min-height: 0;
        }

        .column__item--input {
            background: var(--column-bg-color);
            padding: 20px 10px;
            height: 100%;
            border-radius: inherit;

            input {
                background: transparent;
                border: none;
                color: #17394d;
                font-weight: 600;
                font-size: 18px;
                margin: 4px 0;

                &:focus {
                    outline: none;
                }
            }
        }

        .column__item--new {
            opacity: 0.8;
            border-radius: var(--border-radius);
            background-color: transparent;
            height: 100%;
            display: grid;
            transition: all 0.3s ease;
            border: 1px dashed light-dark(#d4d3d3, #333);

            &:hover {
                background-color: var(--column-bg-color);
                opacity: 1;
            }

            button {
                cursor: pointer;
                background-color: transparent;
                border: none;
                font-size: 15px;
                color: #888;

                &:focus {
                    outline: none;
                }
            }
        }

        & + .column__item:not(.trans) {
            margin-left: 0.75rem;
        }
    }

    .column__title--wrapper {
        border-radius: var(--border-radius);
        background-color: var(--column-bg-color);
        display: grid;
        grid-template-columns: 1fr 30px;
        padding: 0.5rem 1rem;
        align-items: center;
        position: sticky;
        top: 0;
        /*z-index: 1;*/

        h2 {
            color: var(--card-fg-color);
            font-weight: 600;
            font-size: 18px;
            margin: 15px 0;
        }

        .column-name-input {
            color: var(--card-fg-color);
            font-weight: 600;
            font-size: 18px;
            background-color: transparent;
            border: none;
            font-family: inherit;
            margin: 15px 0;
            width: 100%;
            padding: 0;

            &:focus {
                outline: none;
            }
        }

        span.btn {
            transition: opacity 0.3s ease;
            justify-self: center;
            cursor: pointer;
            opacity: 0;

            ion-icon {
                color: #798d99;
                font-size: 22px;
            }
        }
    }

    .column__item:hover {
        .column__title--wrapper span.btn {
            opacity: 1;
        }
    }

    .column__item--cta {
        padding: 0 10px;
        display: flex;
        color: #798d99;
        height: 46px;
        align-items: center;
        justify-content: center;
        background-color: var(--card-bg-color);
        border-radius: calc(var(--border-radius) - 2px);
        margin: 10px 1rem;
        cursor: pointer;
        font-size: 14px;
        /*border: 1px solid #f2f2f2;*/

        span {
            margin-left: 5px;
        }
    }

    .card__list:not(:empty) {
        margin: 0;
        overflow-y: auto;
        max-height: calc(100vh - 266px);
        border-radius: var(--border-radius);
        padding: 0 0.75rem 2px 0.75rem;
        scrollbar-gutter: stable;
    }

    .card__item {
        background-color: var(--card-bg-color);
        border-radius: var(--border-radius);
        box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
        padding: 0.75rem;
        cursor: grab;

        & + .card__item {
            margin-top: 8px;
        }
    }

    .overlay + .card__item {
        margin-top: 10px;
    }

    .card__tag {
        font-size: 0.75rem;
        padding: 0.1rem 0.6rem;
        border-radius: 0.5rem;
        font-weight: 700;
        color: white;
        margin-bottom: 0.25rem;
        display: inline-block;
        min-width: 50px;
        text-align: center;

        & + .card__tag {
            margin-left: 3px;
        }

        &.card__tag--green {
            background-color: #61bd4f;
        }

        &.card__tag--pink {
            background-color: #fa60d4;
        }

        &.card__tag--yellow {
            background-color: #ffe417;
            color: #333;
        }

        &.card__tag--orange {
            background-color: #ff843d;
        }

        &.card__tag--red {
            background-color: #c52e1a;
        }

        &.card__tag--blue {
            background-color: #00c2e0;
        }
    }

    .card__image {
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .card__title {
        color: var(--card-fg-color);
        margin: 0 0 2px;
        font-size: 14px;
        font-weight: 500;
    }

    .card__actions {
        display: flex;
        align-items: center;
    }

    .card__actions--wrapper {
        i {
            color: #798d99;
            margin-right: 0.5rem;
        }
    }

    .card__actions--text {
        color: #798d99;
        font-size: 0.8rem;
        margin-left: -0.25rem;
        margin-right: 0.5rem;
    }

    .card__avatars {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .card__avatars--item {
        margin-left: 0.25rem;
        width: 24px;
        height: 24px;
        background: var(--color-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 10px;
        border-radius: 50%;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
    }

    .avatar__image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.archive-alert {
    padding: 30px;
    font-size: 18px;
    color: #888;
}
