main.content {
    height: calc(100vh - var(--nav-size));
    overflow: hidden;
}

.dashboard {
    height: 100%;
    display: grid;
    grid-template-columns: var(--sidenav-size) 1fr auto;
    background-color: var(--header-bg-color);

    > div:not(.members-panel) {
        overflow-y: auto;
    }

    .all-boards {
        height: 100%;
        background-color: var(--page-content-color);
        border-radius: 24px 24px 0 0;
        overflow-y: auto;

        .board-header {
            padding: 20px 25px;
            min-height: 100px;
        }

        .archive-alert {
            padding: 30px;
            font-size: 18px;
            color: #888;
            background: #f5f7fa;
            /*padding: 20px 30px;*/
            /*color: #4b4e52;*/
            position: sticky;
            top: 0;
            z-index: 1;
        }
    }

    &.extended {
        grid-template-columns: var(--sidenav-size) 150px 1fr auto;
    }

    .sidebar {
        width: var(--sidepanel-width);
    }
}

.board-header {
    .menubar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .view-buttons {
            button {
                height: 48px;
                width: 48px;
                background-color: transparent;
                border: none;
                padding: 0;
                cursor: pointer;
                opacity: 0.6;
                transition: all 0.3s ease;
                border-radius: 12px;
                margin: 0 2px;
                line-height: 1;

                ion-icon {
                    font-size: 22px;
                    color: #888;
                }

                &:hover {
                    background-color: var(--button-bg-color--hover);
                    opacity: 0.8;
                }

                &:focus {
                    outline: none;
                }

                &.active {
                    opacity: 1;
                    background-color: var(--button-bg-color);
                }
            }
        }

        .control-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .control {
                display: flex;
                flex-direction: column;
                width: auto;

                label {
                    color: #bbb;
                    font-size: 13px;
                    padding: 0 10px;
                }

                select {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    padding: 5px;
                    font-family: inherit;
                    color: #888;
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 500;

                    &:focus {
                        outline: none;
                    }
                }

                & + .control {
                    margin-left: 10px;
                }
            }
        }
    }
}

.boards-listing {
    padding: 10px 25px;

    &:not(.grid) {
        .boards {
            .board {
                display: grid;
                grid-template-columns: 250px 120px auto 250px;
                align-items: center;
                text-decoration: none;
                padding: 20px;
                background-color: var(--card-bg-color);
                border: 1px solid var(--card-outline-color);
                color: var(--card-fg-color--muted);
                border-radius: 12px;
                text-transform: capitalize;
                height: 100%;
                flex-direction: column;
                transition: all 0.3s ease;

                .board-name {
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--card-fg-color);
                }

                .board-type {
                    span {
                        font-size: 15px;
                        /*color: var(--color-accent);*/
                        /*font-size: 13px;*/
                        display: inline-block;
                        padding: 2px 0;
                        border-radius: 4px;
                        line-height: 1;
                    }
                }

                .board-desc {
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0;
                        font-size: 14px;
                        line-height: 1;
                    }
                    p + p {
                        &::before {
                            content: "\00B7";
                            margin: 0 10px;
                        }
                    }
                }

                .board-members {
                    display: flex;

                    li {
                        font-size: 11px;
                        height: 30px;
                        width: 30px;
                        color: var(--card-fg-color);
                        line-height: 1;
                        padding: 8px 0;
                        border-radius: 50%;
                        text-align: center;
                        background: var(--card-alt-color);
                        font-weight: 600;
                        border: 2px solid var(--card-bg-color);
                        transition: all 0.3s ease;

                        &:hover {
                            z-index: 1;
                            color: #fff;
                            background: var(--color-accent);
                        }
                    }

                    li + li {
                        margin-left: -5px;
                    }
                }

                .board-footer {
                    display: grid;
                    grid-template-columns: 150px 100px;
                    align-items: center;
                }

                .meta {
                    display: block;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 1;
                }

                &:hover {
                    box-shadow: 0 0px 20px rgba(60, 151, 247, 0.15);
                    border-color: var(--highlight-border-color);
                    transform: translateY(-2px);
                }

                @media screen and (max-width: 1200px) {
                    grid-template-columns: 180px 150px auto 100px;
                    overflow: hidden;

                    .board-desc {
                        display: none;
                    }
                }

                & + .board {
                    margin-top: 5px;
                }
            }
        }
    }

    &.grid {
        .boards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;

            .board {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                align-items: flex-start;
                padding: 20px 20px 15px;
                background-color: var(--card-bg-color);
                border: 1px solid var(--card-outline-color);
                color: var(--card-fg-color--muted);
                border-radius: 10px;
                text-transform: capitalize;
                min-height: 220px;
                height: 100%;
                transition: all 0.3s ease;
                justify-content: space-between;

                .board-name {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 4px 0 0;
                    color: var(--card-fg-color);
                }

                .board-type {
                    span {
                        font-weight: 500;
                        margin: 2px 0;
                        color: var(--color-accent);
                        font-size: 15px;
                        display: inline-block;
                        padding: 4px 0;
                        border-radius: 4px;
                        line-height: 1;
                    }
                }

                .board-desc {
                    display: block;
                    padding: 16px 0;

                    p {
                        margin: 0;
                        font-size: 14px;
                        line-height: 1;

                        & + p {
                            margin-top: 10px;

                            &::before {
                                content: none;
                            }
                        }
                    }
                }

                .board-footer {
                    display: grid;
                    grid-auto-columns: 1fr;
                    width: 100%;
                }

                .board-members {
                    display: flex;
                    margin: 10px 0 15px -2px;

                    li {
                        font-size: 12px;
                        height: 36px;
                        color: var(--card-fg-color);
                        width: 36px;
                        line-height: 1;
                        padding: 10px 0;
                        border-radius: 50%;
                        text-align: center;
                        background: var(--card-alt-color);
                        font-weight: 600;
                        border: 2px solid var(--card-bg-color);
                        transition: all 0.3s ease;

                        & + li {
                            margin-left: -5px;
                        }

                        &:hover {
                            z-index: 1;
                            color: #fff;
                            background: var(--color-accent);
                        }
                    }
                }

                @media screen and (max-width: 1200px) {
                    .board-desc {
                        display: block;
                    }
                }

                .meta {
                    display: block;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1;
                }

                &:hover {
                    box-shadow: 0 0px 20px var(--highlight-box-shadow-color);
                    border-color: var(--highlight-border-color);
                    transform: translateY(-2px);
                }

                &:focus {
                    outline: none;
                }

                & + .board {
                    margin-top: 0;
                }
            }
        }
    }
}

.no-boards {
    padding: 30px;
    color: var(--fg-color--muted);

    span {
        color: var(--color-accent);
        border-bottom: 1px dotted transparent;

        &:hover {
            border-color: var(--color-accent);
        }
    }
}
