@import url("https://fonts.googleapis.com/css?family=Google+Sans:300,400,500,700");

*,
*::after,
*::before {
    box-sizing: border-box;
}

*:focus {
    outline-color: transparent;
}

a:focus {
    outline: 1px dotted var(--color-accent);
}

:root {
    --page-bg: #fff;
    --color-accent: #3c97f7;
    --color-accent-alt: #3480de;
    --color-accent-light: #deebfc;
    --color-danger: #f73c7a;
    --color-danger-alt: #d82561;
    --field-background: #fafafa;
    --field-background-hover: #f8f8f8;
    --label-offset: 1rem;
    --input-border: rgba(0, 0, 0, 0.1);
    --input-border-hover: rgba(0, 0, 0, 0.2);
    --label-color: #666;
    --border-radius: 4px;
    --text-color: #666;
    --text-color-muted: #888;

    --nav-size: 64px;
    --sidenav-size: 64px;
    --sidepanel-width: 350px;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Google Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button:focus {
    outline-color: var(--color-accent-alt);
}

.clickable {
    cursor: pointer;
}

.login-ui {
    height: 100vh;
    background-color: var(--page-bg);

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr;
        }
    }

    .form-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        position: relative;
        justify-content: center;

        .help-block {
            margin: 20px 0;
            font-size: 16px;
            color: var(--text-color-muted);
        }
    }

    .graphics {
        background-color: #eff6fe;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            height: 100%;
            object-fit: contain;
            width: 100%;
            max-width: 550px;
            opacity: 0.85;

            @media screen and (max-width: 767px) {
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}

.floating {
    margin-bottom: 20px;
    background-color: var(--field-background);
    transition: background-color 0.2s ease;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    font-family: inherit;

    &:hover,
    &:focus-within {
        background-color: var(--field-background-hover);
    }

    &:hover {
        .floating__input {
            border-color: var(--input-border-hover);
        }
    }

    &.textarea {
        .floating__input {
            resize: none;
            height: 6rem;
            background: none;
            border-width: 0;
            display: block;
            width: 100%;
            padding: 1.8rem var(--label-offset) 0.6rem;
            font-size: 1rem;
            border-bottom: 0.1rem solid var(--input-border);
            transition: border-color 0.2s ease;
            caret-color: var(--color-accent);
            font-family: inherit;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: rgba(0, 0, 0, 0);
            }
        }

        .floating__label {
            display: block;
            position: relative;
            max-height: 0;
            font-weight: 500;
            pointer-events: none;

            &::before {
                color: var(--label-color);
                content: attr(data-content);
                display: inline-block;
                filter: blur(0);
                backface-visibility: hidden;
                transform-origin: left top;
                transition: transform 0.2s ease;
                left: var(--label-offset);
                position: relative;
                font-weight: 400;
            }

            &::after {
                bottom: 1rem;
                content: "";
                height: 0.1rem;
                position: absolute;
                transition:
                    transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
                    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 0.3s ease;
                opacity: 0;
                left: 0;
                top: 100%;
                margin-top: -0.1rem;
                transform: scale3d(0, 1, 1);
                width: 100%;
                background-color: var(--color-accent);
            }
        }
    }
}

.floating__input {
    background: none;
    border-width: 0;
    display: block;
    width: 100%;
    padding: 1.8rem var(--label-offset) 0.6rem;
    font-size: 1rem;
    border-bottom: 0.1rem solid var(--input-border);
    transition: border-color 0.2s ease;
    caret-color: var(--color-accent);
    font-family: inherit;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0);
    }
}

.floating__label {
    display: block;
    position: relative;
    max-height: 0;
    font-weight: 500;
    pointer-events: none;

    &::before {
        color: var(--label-color);
        content: attr(data-content);
        display: inline-block;
        filter: blur(0);
        backface-visibility: hidden;
        transform-origin: left top;
        transition: transform 0.2s ease;
        left: var(--label-offset);
        position: relative;
        font-weight: 400;
    }

    &::after {
        bottom: 1rem;
        content: "";
        height: 0.1rem;
        position: absolute;
        transition:
            transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 0.3s ease;
        opacity: 0;
        left: 0;
        top: 100%;
        margin-top: -0.1rem;
        transform: scale3d(0, 1, 1);
        width: 100%;
        background-color: var(--color-accent);
    }
}

.floating__input:focus + .floating__label::after {
    transform: scale3d(1, 1, 1);
    opacity: 1;
}

.floating__input:placeholder-shown + .floating__label::before {
    transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
    transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
    color: var(--color-accent);
}

.floating.textarea {
    .floating__input:focus + .floating__label::after {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    .floating__input:placeholder-shown + .floating__label::before {
        transform: translate3d(0, -4.1rem, 0) scale3d(1, 1, 1);
    }

    .floating__label::before,
    .floating__input:focus + .floating__label::before {
        transform: translate3d(0, -5.42rem, 0) scale3d(0.82, 0.82, 1);
    }

    .floating__input:focus + .floating__label::before {
        color: var(--color-accent);
    }
}

.hidden--visually {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button {
    background: var(--color-accent);
    border-width: 0;
    color: #fff;
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: var(--border-radius);
    transition: background 0.3s ease;
    cursor: pointer;
    line-height: 1;
    font-family: inherit;
    text-align: center;

    &:hover,
    &:active,
    &:focus {
        background: var(--color-accent-alt);
    }

    &.aux {
        color: var(--color-accent);
        background-color: #fafafa;

        &:hover,
        &:active,
        &:focus {
            background: #f2f2f2;
        }
    }

    &.trans {
        background: transparent;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            background: rgba(255, 255, 255, 0.3);
        }
    }

    &.bg-red {
        background: var(--color-danger);

        &:hover,
        &:active,
        &:focus {
            background: var(--color-danger-alt);
        }
    }

    &.inline {
        width: auto;
        font-size: 14px;
        padding: 1rem 1.5rem;
        display: inline-block;
    }

    &.sm {
        font-size: 13px;
        padding: 0.75rem 1rem;
    }
}

.form {
    width: 360px;

    a {
        color: var(--color-accent);
    }

    p {
        color: var(--text-color-muted);
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        margin: -10px 0 30px;
        color: var(--text-color);
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        padding: 40px 20px;
        max-width: 480px;
        margin: 0 auto;
    }
}

.inner-loading-text {
    padding: 40px;
    color: var(--text-color);
}

.form-buttons {
    margin: 40px -2px 10px;
    display: flex;

    .button {
        margin: 0 2px;
        padding: 1rem;

        &:disabled {
            pointer-events: none;
            opacity: 0.75;
        }
    }
}

.page-content {
    height: calc(100dvh - var(--nav-size));
}
